/* ---- PROFIL ---- */

#profil-full{
    display: flex;
}

#profil-info{
    width: 20%;
    margin: 1em 0.5em 0 0;
}

#profil-info img{
    width: 100%;
}

#profil-about{
    width: 80%;
    margin: 1em 0 0 0.5em;
}

/* ---- SIGN IN ---- */

#login-full form{
    min-height: 500px;
    text-align: center;
}

#login-full form > *{
    width: 80%;
    max-width: 300px;
    margin: 1em;
}