.logo-input{
    border: 1px solid #888;
    border-radius: 4px;
    margin: 0.4em;
    display: flex;
}

.logo-input > *{
    box-sizing: border-box;
}

.logo-input > .i-container{
    width: 15%;
    background-color: #ddd;
    border-right: 1px solid #888;
}

.logo-input > input{
    padding: 0.5em;
    width: 85%;
    border: none;
}

#content form > div{
    width: 30%;
    min-width: 200px;
}