.logo-input{
    border: 1px solid #888;
    border-radius: 4px;
    margin: 0.4em;
    display: flex;
}

.logo-input > *{
    box-sizing: border-box;
}

.logo-input > .i-container{
    width: 15%;
    background-color: #ddd;
    border-right: 1px solid #888;
}

.logo-input > input{
    padding: 0.5em;
    width: 85%;
    border: none;
}


#submit{
    box-shadow: 0px 0px 12px -1px #3dc21b;
	background-color: #44c767;
	border-radius: 28px;
	border: 1px solid #18ab29;
	cursor: pointer;
	color: #ffffff;
	font-size: 1.1em;
	padding: 8px 0;
	text-decoration: none;
    text-shadow: 1px 1px 10px #2f6627;
    margin-top: 1em;
    width: 20%;
    min-width: 180px;
}

#submit:hover {
	background-color: #5cbf2a;
}

#submit:active {
	position: relative;
	top: 3px;
}

#content form > *:not(:last-child){
    width: 30%;
    min-width: 200px;
}

#content h3{
    text-align: center;
}