#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-Panel_1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-lbl_title {
  -ms-transform: rotate(0.0deg);
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-fill {
  -ms-transform: rotate(0.0deg);
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-stroke {
  -ms-transform: rotate(0.0deg);
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-img_profil_mini {
  -ms-transform: rotate(0.0deg);
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-img_header {
  -ms-transform: rotate(0.0deg);
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-img_profil_arrow {
  -ms-transform: rotate(0.0deg);
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-lbl_user_name {
  -ms-transform: rotate(0.0deg);
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-rect_already_connected {
  -ms-transform: rotate(0.0deg);
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}