#t-cf63c592-a81b-4bd2-8455-dd507c76aeba > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba > #alignmentBox {
  position: relative;
  max-width: 1920px;
  max-height: 1080px;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #EFEFEF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-Rectangle_2 {
  position: absolute;
  width: 1921px;
  height: 816px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-Rectangle_2 > .clipping, #t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-Rectangle_2 > .paddingLayer {
  height: 816px;
  width: 1921px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-Rectangle_2 span#rtr-t-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-Dynamic_Panel_1 {
  position: absolute;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-Panel_1 {
  width: 1920px;
  height: 267px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-Panel_1 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  box-shadow: none;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-Panel_1 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 266px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-Panel_1 .verticalalign {
  vertical-align: top;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-lbl_title > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-lbl_title {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 20.0pt;
  font-family: 'Arial',Arial;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-lbl_title > .clipping, #t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-lbl_title > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-lbl_title .valign {
  vertical-align: middle;
  text-align: left;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-lbl_title span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-lbl_title span#rtr-t-lbl_title_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-canvasPanel {
  position: absolute;
  width: 72px;
  height: 56px;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-fill > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-fill {
  position: absolute;
  width: 72px;
  height: 56px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-fill > .clipping, #t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-fill > .paddingLayer {
  height: 56px;
  width: 72px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-fill .valign {
  vertical-align: middle;
  text-align: center;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-fill span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-fill span#rtr-t-fill_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-stroke > svg {
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-stroke {
  position: absolute;
  width: 72px;
  height: 56px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-stroke > img, #t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-stroke > svg {
  height: 56px;
  width: 72px;
  box-shadow: none;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-img_profil_mini {
  position: absolute;
  width: 40px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-img_profil_mini > img, #t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-img_profil_mini > svg {
  height: 40px;
  width: 40px;
  box-shadow: none;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-img_header {
  position: absolute;
  width: 1300px;
  height: 194px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-img_header > img, #t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-img_header > svg {
  height: 194px;
  width: 1300px;
  box-shadow: none;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-img_profil_arrow > svg {
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-img_profil_arrow {
  position: absolute;
  width: 15px;
  height: 7px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-img_profil_arrow > img, #t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-img_profil_arrow > svg {
  height: 7px;
  width: 15px;
  box-shadow: none;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-lbl_user_name > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-lbl_user_name {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-lbl_user_name > .clipping, #t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-lbl_user_name > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-lbl_user_name .valign {
  vertical-align: middle;
  text-align: left;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-lbl_user_name span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-lbl_user_name span#rtr-t-lbl_user_name_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-rect_already_connected > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #6ACCCB;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-rect_already_connected {
  position: absolute;
  width: 183px;
  height: 77px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-rect_already_connected > .clipping, #t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-rect_already_connected > .paddingLayer {
  height: 77px;
  width: 183px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-rect_already_connected .valign {
  vertical-align: middle;
  text-align: center;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-rect_already_connected span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-rect_already_connected span#rtr-t-rect_already_connected_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-rect_already_connected span#rtr-t-rect_already_connected_1 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}