#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-lbl_title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-fill {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-stroke {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-img_profil_mini {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-img_header {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-img_profil_arrow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-lbl_user_name {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba #t-rect_already_connected {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-cf63c592-a81b-4bd2-8455-dd507c76aeba > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}