#s-2a6ff5d5-5f64-4efc-bb8b-59b6900f7e0e #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2a6ff5d5-5f64-4efc-bb8b-59b6900f7e0e #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2a6ff5d5-5f64-4efc-bb8b-59b6900f7e0e #s-lbl_user_profil_nickname {
  -ms-transform: rotate(0.0deg);
}
#s-2a6ff5d5-5f64-4efc-bb8b-59b6900f7e0e #s-lbl_about_me {
  -ms-transform: rotate(0.0deg);
}
#s-2a6ff5d5-5f64-4efc-bb8b-59b6900f7e0e #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2a6ff5d5-5f64-4efc-bb8b-59b6900f7e0e #s-lbl_droite {
  -ms-transform: rotate(0.0deg);
}
#s-2a6ff5d5-5f64-4efc-bb8b-59b6900f7e0e #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2a6ff5d5-5f64-4efc-bb8b-59b6900f7e0e #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2a6ff5d5-5f64-4efc-bb8b-59b6900f7e0e #s-btn_back_index {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 23px;
  width: 158px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-2a6ff5d5-5f64-4efc-bb8b-59b6900f7e0e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}