#s-c5a4dc68-79b1-4ee1-82eb-64da6d9d93f6 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c5a4dc68-79b1-4ee1-82eb-64da6d9d93f6 #s-lbl_title {
  -ms-transform: rotate(0.0deg);
}
#s-c5a4dc68-79b1-4ee1-82eb-64da6d9d93f6 #s-lbl_owner1 {
  -ms-transform: rotate(0.0deg);
}
#s-c5a4dc68-79b1-4ee1-82eb-64da6d9d93f6 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c5a4dc68-79b1-4ee1-82eb-64da6d9d93f6 #s-lbl_owner2 {
  -ms-transform: rotate(0.0deg);
}
#s-c5a4dc68-79b1-4ee1-82eb-64da6d9d93f6 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c5a4dc68-79b1-4ee1-82eb-64da6d9d93f6 #s-Line_1 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-c5a4dc68-79b1-4ee1-82eb-64da6d9d93f6 #s-Line_1 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-c5a4dc68-79b1-4ee1-82eb-64da6d9d93f6 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c5a4dc68-79b1-4ee1-82eb-64da6d9d93f6 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c5a4dc68-79b1-4ee1-82eb-64da6d9d93f6 #s-btn_back_index {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 23px;
  width: 158px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-c5a4dc68-79b1-4ee1-82eb-64da6d9d93f6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}