#content #allthreads-infos{
    height: 90px;
    padding: 0;
    text-align: center;
}

#content #allthreads-infos a{
    border: 1px solid #888;
    border-radius: 8px;
    padding: 0.5em 1em;
}

#content #allthreads-infos > div{
    width: 50%;
}

#content .inline-thread{
    padding: 0 1em;
    display: flex;
    max-height: 118px;
    overflow: hidden;
}

#content .inline-thread > div > *{
    margin: 0.5em;
}

#content .inline-thread img{
    width: 64px;
    height: 64px;
}

#content .thread-img-container{
    flex: 1;
}

#content .thread-title-container{
    flex: 8;
}

#content .thread-view-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}